/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
   --footer-color: #008;
   --font-title: 'Play', sans-serif;
   --font-text: 'Play', sans-serif;
   --header-color: orange;
   --header-height: 80px;
   --main-color: #080;
   --main-height: calc(100vh - var(--header-height));
   --player-image: url('../images/bunny.png');
   --target-image: url('../images/carotte.png');
}

*,
::before,
::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 1.6rem;
   margin: 0;
   padding: 0;
}


html {
   /* Set font-size for REM : 16px * 62.5% = 10px */
   font-size: 62.5%;
   scroll-behavior: smooth;
   /* scroll-padding-top: 60px; */
}

body {
   font-family: var(--font-title);
   line-height: 1.1;
   /* width: 100%;
    height: 100vh; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-title);
}

/* HEADER */

.header {
   background-color: var(--header-color);
   color: white;
   height: var(--header-height);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header__scores {
   text-align: center;
}

.header h1 {
   font-size: 3.5rem;
   text-shadow: 1px 1px 1px black;
   margin-bottom: 4px;

}

.header-total-name,
.header-total-value,
.header-totem-name,
.header-totem-value {
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
   font-family: var(--font-title);
   text-shadow: 1px 1px 1px black;

}

.header-total-value {
   font-size: 4rem;
   ;
}

.header-totem-name {
   width: 40px;
   height: 40px;
   background-image: var(--target-image);
   background-size: 100%;
}


/* MAIN */

.main {
   background-color: var(--main-color);
   min-height: var(--main-height);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.garden {
   position: relative;
   display: -ms-grid;
   display: grid;
   place-items: center;
   -ms-grid-columns: (1fr)[3];
   grid-template-columns: repeat(3, 1fr);
   border: 10px solid white;
   -webkit-box-shadow: 0px 0px 20px white;
   box-shadow: 0px 0px 20px white;
   border-radius: 10px;
}

.popup {
   position: fixed;
   width: 300px;
   height: 200px;
   background-color: orange;
   -webkit-box-shadow: 4px 4px 10px black;
   box-shadow: 4px 4px 10px black;

   border-radius: 10px;
   color: white;
   padding: 0 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   ;
   border: 5px solid white;
   text-transform: uppercase;
}

.popup p {
   font-size: 1.8rem;
   margin-bottom: 16px;
   text-align: center;
}

.button {
   background-color: white;
   -webkit-box-shadow: 1px 1px 10px black;
   box-shadow: 1px 1px 10px black;
   border-radius: 10px;
   border: none;
   color: orange;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-transform: uppercase;
   font-size: 3rem;
   padding: 1px 8px;
}

.button:hover {
   background-color: orange;
   color: white;
   -webkit-box-shadow: 1px 1px 4px black;
   box-shadow: 1px 1px 4px black;
}

.choose-theme {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   z-index: 99;
   width: 320px;
   height: 500px;
}

.choose-theme img {
   width: 150px;
}

.choose-theme--text {
   width: 100%;
}

.round {
   color: orange;
   text-shadow: 2px 2px 1px #FFF;
   line-height: 1;
   font-size: 4rem;
   font-weight: 700;
   position: fixed;
   text-transform: uppercase;
   -webkit-animation: round-animation 1s ease-in forwards;
   animation: round-animation 1s ease-in forwards;
   z-index: 20;
   pointer-events: none;
   top: 100px;
}

@-webkit-keyframes round-animation {
   100% {
      opacity: 1;
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
      z-index: -1;
   }
}

@keyframes round-animation {
   100% {
      opacity: 1;
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
      z-index: -1;
   }
}

.square {
   /* height: calc(var(--main-height)/3);
   width: calc(100vw/3); */
   height: 100px;
   width: 100px;
   background-image: url('../images/grass.png');
   background-size: 100px;
   -webkit-filter: drop-shadow(3px 3px 3px black);
   filter: drop-shadow(3px 3px 3px black);
}

.square-border {
   border: 1px solid black;

}

.square-hole {
   position: absolute;
   background-color: gray;
   background-image: url('../images/sol.png');
   z-index: 2;
}

.player {
   position: absolute;
   bottom: 60px;
   left: -50px;
   border: none;
   background-color: #FFF0;
   -webkit-filter: drop-shadow(3px 3px 3px black);
   filter: drop-shadow(3px 3px 3px black);
   background-image: var(--player-image);
   z-index: 10;
   -webkit-animation: player-animation .4s ease-in-out alternate infinite;
   animation: player-animation .4s ease-in-out alternate infinite;
}

@-webkit-keyframes player-animation {
   to {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      rotate: 2deg;
   }
}

@keyframes player-animation {
   to {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      rotate: 2deg;
   }
}

.target {
   position: absolute;
   bottom: 0;
   left: 0;
   /* background-color: orange; */
   background-image: var(--target-image);
   background-size: 80%;
   background-repeat: no-repeat;
   background-position: center;
   z-index: 1;
}

.target-found {
   -webkit-transition: all 1.5s linear;
   -o-transition: all 1.5s linear;
   transition: all 1.5s linear;
   opacity: 0;
   scale: 1.6;
   z-index: 98;
   pointer-events: none;
}

.timer {
   display: inline-block;
   padding: 2px;
   text-transform: uppercase;
   text-shadow: 1px 1px 1px black;
}

.timer-value {
   font-size: 20px;

}